{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <title>Buy {{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script> let config_url = "{% url 'config' %}";</script>
    <script> let checkout_url = "{% url 'create-checkout-session' item.id %}";</script>
    <script src="{% static 'main.js' %}"></script>
  </head>

<body>
  <h1>{{ item.name }}</h1>
  <p>Description of {{ item.name }}</p>
  <p>{{ item.description }}</p>
  <p>${{ item.get_display_price }}</p>
  <div class="container">
    <button class="button is-primary" id="submitBtn">Buy</button>
  </div>
</body>
</html>